<a href="https://colab.research.google.com/github/xslittlemaggie/Other-ML-DL-Algorithm-notes/blob/master/KNN-supervised_Learning_from%20scratch%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><center> KNN - supervised Learning  </center></h1>

## Step 0: Import libraries

In [0]:
import numpy as np
import operator
from collections import Counter
import pandas as pd

from sklearn import datasets

## Step 1: Load data

In [0]:
iris = datasets.load_iris()

data = iris.data
labels = iris.target

## Step 2: Create classify function

In [0]:
def classify(new_data, data, labels, k):
  Size = data.shape[0]   # get the number of points in sample
  diffs = np.tile(new_data, (Size, 1)) - data  # get the difference of the new_data with each points from sample
  sqdiffs = diffs ** 2   # square the difference
  sum_diffs = sqdiffs.sum(axis = 1)  # # sum the squares
  distances = sum_diffs ** 0.5  # get the sqrt 
  sortedDistIndicies = distances.argsort()
  classCount = []
  for i in range(k):
    voteLabel = labels[sortedDistIndicies[i]]
    classCount.append(voteLabel)
  label_count = Counter(classCount)
  label = sorted(label_count.items(), key=operator.itemgetter(1), reverse = True)
  return label[0][0]

if __name__ == "__main__":
  group, labels = dataSet, labels
  test = classify([0.2, 0.5, 0.7, 0.2], group, labels, 3)
  print(test)

0

## Step 3: Prediction

In [0]:
predictions = []
for point in data:
  pred = classify(point, data, labels, 3)
  predictions.append(pred)

In [0]:
result = {"True": labels, "Predicted": predictions}
result = pd.DataFrame(result)
result.head()

   True  Predicted
0     0          0
1     0          0
2     0          0
3     0          0
4     0          0

In [0]:
pd.crosstab(result["True"], result["Predicted"])

Predicted   0   1   2
True
0          50   0   0
1           0  47   3
2           0   3  47